@charset "utf-8";
/* CSS Document */

.whole_container {
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(200,200,200);
	min-height: 600px;
	min-width: 800px;
	overflow: hidden;
}
.left_container {
	position:relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgb(85, 85, 85);
	min-height: 600px;
	height: 100%;
	overflow: hidden;
	width: 250px;
	box-shadow: 0 0 12px;
}
.logo{
	font-family: arial;
	font-size: 22px;
	line-height: 30px;
	position: relative;
	top: 15px;
	left: 0px;
	width: 250;
	text-align: center;
	color: rgb(138, 188, 204);
	text-shadow: 2px 2px 12px black;
	font-weight: bold;
}
.search_app {
	position: relative;
	top: 28px;
	left: 0px;
	margin-top: 0px;
	margin-left: 14px;
	margin-bottom: 0px;
	background-color: rgb(138, 188, 204);
	height: 40px;
	width: 222px;
	border-radius: 25px;
	box-shadow: 0 0 12px black;
	color: white;
	z-index: 4;
	font-size: 18px;
	font-family: arial;
	line-height: 50px;
}
.search_input {
position: absolute;
	top: 61px;
	left: 18px;
	margin-top: 0px;
	margin-left: 0px;
	background-color: rgb(80, 80, 80);
	height: 34px;
	border-radius: 25px;
	font-family: arial;
	font-size: 17px;
	line-height: 36px;
	color: white;
	padding-left: 13px;
	z-index: 100;
	width: 201px;
	text-align: left;
	color: rgb(220,220,220);
}
.list_container {
	position: relative;
	top: 36px;
	background-color: rgb(85, 85, 85);
	overflow: hidden;
	width: 250px;
	margin-top: 10px;
}
.app_unit {
	position: relative;
	top: 0px;
	left: 0px;
	background-color: rgb(85, 85, 85);
	height: 78px;
	overflow: hidden;
	width: 250px;
}
.app_unit:hover {
	background-color: rgb(0, 0, 0);
	cursor:pointer;
}
.app_image {
	width: 56px;
	height: 56px;
	background: rgb(65, 65, 65);
	border-radius: 12px;
	margin-top: 11px;
	margin-left: 25px;
	box-shadow: 0 0 10px white;
}
.app_name {
	position: absolute;
	top: 12px;
	left: 98px;
	font-family: arial;
	color: rgb(231, 231, 231);
	font-size: 17px;
}
.app_category {
	position: absolute;
	top: 33px;
	left: 98px;
	font-family: arial;
	color: rgb(177, 176, 176);
	font-size: 14px;
}
.app_price {
	position: absolute;
	top: 51px;
	left: 98px;
	font-family: arial;
	color: rgb(255, 157, 0);
	font-size: 14px;
}
.right_container {
	position:relative;
	top: 0px;
	bottom: 0px;
	left: 220px;
	min-height: 600px;
	min-width: 600px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(200,200,200);
}
.bottom_container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 40px;
	margin-left: 303px;
	margin-right: 50px;
	background-color: rgb(138, 188, 204);
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 0 12px;
	border: 2px rgb(138, 188, 204);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bottom_input {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 45px;
	margin-left: 309px;
	margin-right: 190px;
	background-color: rgb(80, 80, 80);
	height: 40px;
	border-radius: 25px;
	font-family: arial;
	font-size:18px;
	line-height: 40px;
	color: white;
	padding-left: 20px;
}
.bottom_send {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 40px;
	margin-right: 50px;
	background-color: rgb(255, 157, 0);
	height: 50px;
	width: 135px;
	border-radius: 25px;
	border: 0px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial;
	font-size:17px;
	font-weight: bold;
	line-height: 54px;
	color: white;
	text-align: center;
}
.bottom_send:hover{
	background-color: rgb(0, 0, 0);
	cursor:pointer;
}